p{
    text-align: center; 
    vertical-align:middle; 
    font-family: "Trebuchet MS", Helvetica, sans-serif;	
}
td{
    text-align: center; 
    vertical-align:middle; 
    font-family: "Trebuchet MS", Helvetica, sans-serif;	
    font-size:0.85em;
}